# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
backup/
test/
task/
temp/service/
temp/sql/
vite.config.ts.timestamp-1773490748947-71e2d0fd0f4358.mjs
error/
supabase/
__docs__/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.md
.env
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
